:root {
  --cursive: "Dancing Script", cursive;
  --serif: "Playfair Display", serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 250px;
  padding: 10px;
}

#card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

button {
  margin: 8px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
}

#quote-button {
  background-color: maroon;
  color: whitesmoke;
  transition: ease-in 0.2s;
}

#quote-button:hover {
  box-shadow: inset 200px 0 0 0 #2b3f6e;
}

.taylor {
  background-color: #2b3f6e;
  color: whitesmoke;
  font-family: var(--cursive);
}

.not-taylor {
  background-color: #822a3e;
  color: whitesmoke;
  font-family: var(--serif);
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
}
.delete-btn {
  background-color: rgb(57, 52, 52);
  color: whitesmoke;
  font-size: 16px;
}
